@import '~@angular/material/theming';
@include mat-core();


$my-primary: (
    50: #203A43,
    100: #203A43,
    200: #203A43,
    300: #203A43,
    400: #203A43,
    500: #203A43,
    600: #203A43,
    700: #203A43,
    800: #203A43,
    900: #203A43,
    A100: #203A43,
    A200: #203A43,
    A400: #203A43,
    A700: #203A43,
    contrast: (
      50: white,
      100: white,
      200: white,
      300: white,
      400: white,
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: white,
      A200: white,
      A400: white,
      A700: white,
    )
  );


$my-app-primary: mat-palette($my-primary);
$my-app-accent:  mat-palette($mat-red);//#D1913C;
$my-app-warn:    mat-palette($mat-red);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);