<div class="bdy">
  <div class="card-container">
  <div class="card">
    <div class="front">
      <img src="\assets\res\enter.svg" alt="kiwi">
      <h2>Authentication</h2>
    </div>
    <div class="rear">
      <h2>Authentication</h2>
      <p>
        That's not at all necessary 
        but sure go ahead and
        make us remember You :)
        Soon you will be able to log via Facebook or Google
      </p>
      <a [routerLink]="'/auth'">Login</a>
    </div>
  </div>

  <div class="card">
    <div class="front">
      <img src="\assets\res\speech.svg" alt="inf">
      <h2>About us</h2>
    </div>
      <div class="rear">
          <h2>About us</h2>
          <p>
            We're a simple platfrom that enables you 
            to share books that have somehow changed your way of 
            thinking .. or not. Basically anything that's worth reading.
          </p>
          <a [routerLink]="'/share'">share</a> 
               </div>
  </div>

  <div class="card">
    <div class="front">
      <img src="\assets\res\star.svg" alt="">
      <h2>Store your findings</h2>
    </div>
    <div class="rear">
        <h2>Store your findings</h2>
        <p>
          Whenever you find something interesting,
          don't forget to place it into your shelf
          (and come back later :P)
        </p>
        <a href="#">Your shelf</a>
    </div>
  </div>

  <div class="card">
    <div class="front">
      <img src="\assets\res\information.svg" alt="">
      <h2>
          Search
        </h2>
    </div>
    <div class="rear">
        <h2> Search</h2>
          <p>
            Browse our library and surely you will find something 
            to lay your eyes on for a few hours :)
          </p>
          <a [routerLink]="'/library'">Library</a>
    </div>
  </div>
</div>
</div>
<div class="footer">
  <h1>
    My first web application
  </h1>
  <p>
    Being a programmer is easy.<br>
     It's like riding a bike
    except that bike is on fire, you're on fire, everything is on fire and 
    you are in hell.
  </p>
</div>

